@import '../../style/variables.sass' 
  
.camera_trigger
  position: absolute
  background-color: $light-green!important
  height: 56px!important
  width: 56px!important
  border-radius: 50%!important
  left: calc(50% - 28px)!important
  bottom: 7px!important
  border: 2px solid #ffffff!important
  box-shadow: 0 0 0 2px $light-green!important

.camera_switch
  background: none!important
  color: white!important
  border: none!important
  box-shadow: none!important
  position: fixed!important
  bottom: 10px!important
