@import '../../style/variables.sass'

.button
  font-size: .8rem
  width: 100%
  padding: .5rem 1rem
  border-radius: 50px
  color: #ffffff
  border: 1px solid #ffffff
  display: block
  text-decoration: none
  text-align: center
  box-shadow: 0 0 0 1px $light-green
  margin: 10px 0

.green
  @extend .button
  background: $dark-green

.orange
  @extend .button
  background-color: $orange
  color: $yellow

.light_green
  @extend .button
  background-color: $light-green

.button:disabled
   background: #cccccc
   
